
.slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* Увеличим высоту для красивого отображения слайдов */
    position: relative; /* Добавим позиционирование */
    transform: translateX(20%);
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%; /* Установим высоту в 100% */
}

.slider-container {
    position: relative; /* Добавим позиционирование */
    width: 100%; /* Добавим ширину в 100% */
    height: 100%; /* Добавим высоту в 100% */
}

.slide {
    position: absolute;
    top: 0; /* Положим слайды в верхнюю часть .slider */
    left: 0; /* Положим слайды в левую часть .slider */
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Анимация переключения */
}

.slide.active {
    opacity: 1;
}

/* Стили для изображений */
.slide img {
    height: auto;
    width: 100%; /* Зададим ширину изображений в 100% */
    object-fit: contain; /* Сохраняем пропорции изображения */
}

/* Стили для кнопок навигации */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: none;
    z-index: 2;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

table {
    width: 30%; /* Уменьшим ширину таблицы */
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.email-field {
    cursor: pointer;
    text-decoration: underline;
}
