/* Стили для плитки */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Автоматическое выравнивание элементов в ряду */
    gap: 20px; /* Промежуток между элементами */
}

.library-card {
    border: 1px solid #ccc; /* Граница для каждой карточки */
    padding: 20px;
    text-align: center;
    position: relative; /* Позиционирование относительно родительского элемента */
    overflow: hidden; /* Скрытие части изображения, выходящей за границы карточки */
    cursor: pointer; /* Указатель пальца при наведении */
    display: block; /* Делаем ссылку блочным элементом */
    color: inherit; /* Наследуем цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
}

.library-card img {
    max-width: 100%; /* Максимальная ширина изображения в карточке */
    position: relative; /* Относительное позиционирование */
    z-index: 1; /* Изображение находится над градиентом */
}

.gradient-overlay {
    position: absolute; /* Абсолютное позиционирование */
    top: 0; /* Расположение градиента в верхней части карточки */
    left: 0; /* Расположение градиента в левой части карточки */
    width: 100%; /* Ширина градиента - 100% ширины карточки */
    height: 100%; /* Высота градиента - 100% высоты карточки */
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)); /* Градиент от прозрачного до белого */
    z-index: 2; /* Градиент находится над текстом */
    opacity: 0; /* Начальная непрозрачность градиента */
    transition: opacity 0.3s; /* Плавное изменение непрозрачности при ховере */
}

.library-details {
    position: relative; /* Позиционирование относительно родительского элемента */
    z-index: 3; /* Текст находится над градиентом */
}

/* При ховере на карточку */
.library-card:hover .gradient-overlay {
    opacity: 1; /* Сделать градиент полностью непрозрачным */
}