/* Общие стили */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #111;
    color: #fff;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.about,
.services,
.contact {
    margin-bottom: 30px;
}

.about h2,
.services h2,
.contact h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.about p,
.services ul,
.contact p {
    font-size: 1.1em;
    line-height: 1.6;
}

.services ul {
    list-style-type: square;
    padding-left: 20px;
}

.contact a {
    color: #007bff;
}

footer {
    background-color: #111;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

footer p {
    font-size: 0.9em;
}

/* Стили для формы входа и регистрации */
.login-container,
.register-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #111;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.login-container h2,
.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.login-container form,
.register-container form {
    display: flex;
    flex-direction: column;
}

.login-container label,
.register-container label {
    margin-bottom: 5px;
    color: #fff;
}

.login-container input[type="email"],
.login-container input[type="password"],
.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

/* Добавляем стили для поля с именем */
.login-container input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

.login-container button[type="submit"],
.register-container button[type="submit"] {
    background-color: #863fc8;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

.login-container button[type="submit"]:hover,
.register-container button[type="submit"]:hover {
    background-color: #0056b3;
}

.login-container p,
.register-container p {
    text-align: center;
    margin-top: 15px;
    color: #fff;
}

.login-container a,
.register-container a {
    color: #007bff;
    text-decoration: none;
}

.login-container a:hover,
.register-container a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.register-link {
    color: #863fc8!important;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
    color: #007bff!important;
}

.nav-reg {
    color: white;
}
/* Главная */
.library-info {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.library-info h2 {
    color: #343a40;
    font-weight: bold;
    margin-bottom: 20px;
}

.library-info p {
    color: #6c757d;
    font-size: 18px;
}

/* Стили для модального окна */
.modal {
    display: none; /* Скрыть модальное окно по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #2e2e2e; /* Темно-серый цвет */
    color: #fff; /* Белый цвет текста */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #6a0dad; /* Серый цвет для крестика */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #007bff; /* Белый цвет при наведении */
    text-decoration: none;
    cursor: pointer;
}

#message {
    background-color: #fff; /* Белый цвет фона поля ввода */
    color: #2e2e2e; /* Темно-серый цвет текста в поле ввода */
}

button {
    background-color: #6a0dad; /* Фиолетовый цвет для кнопки */
    color: #fff; /* Белый цвет текста на кнопке */
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #4b087b; /* Темно-фиолетовый цвет при наведении */
}
